*{
    margin: 0;
    padding: 0;
}

.logo img{
    width: 20%;
    border: 5px solid white ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
}
.navbar{
    display: flex;
}

.nav-list{
    width: 50%;
    /* background-color: black;/ */
    display: flex;
    align-items: center;
    
    
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;

}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;


}
.rightNav{
    /* background-color: black; */
    width: 50%;
    text-align: right;

}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;

}
.background{
    background: rgba(0, 0, 0, 0) url('../architecture-1868667_1280.jpg');
    background-size: cover;
    background-blend-mode: darken;
    

}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

.firstSection {
    height: 100vh;

}
.firstHalf{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secondHalf {
    width: 50%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;

}