body{
    background-image: url(https://img.freepik.com/free-photo/books-imagination-still-life_23-2149082214.jpg?t=st=1716443811~exp=1716447411~hmac=7937ed224be5f35d395677ce21f2e54a5cf55d0f39f5302c3d8119419a803e36&w=740);
    background-repeat: no-repeat;
    text-align: center;
    color: aliceblue;
    background-size: cover;

}